<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" th:fragment="header">
  <head>
    <!-- <link rel="stylesheet" href="/css/layout/header.css" /> -->
    <!--/*-->
    <title>a</title>
    <!--*/-->
  </head>
  <body>
    <header id="jinwung">
      <section class="menu">
        <ul>
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/">공지사항</a>
          </li>
          <li>
            <a href="/">메일</a>
          </li>
          <li>
            <a href="/">게시판</a>
          </li>
          <li>
            <a href="/">수업관리</a>
          </li>
          <li>
            <a href="/">인사관리</a>
          </li>
          <li>
            <a href="/signout">로그아웃</a>
          </li>
        </ul>
      </section>
    </header>
  </body>
</html>
