<!DOCTYPE html>
<html
  lang="ko-KR"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:replace="~{layout/comm-layout :: commLayout(~{::head},~{::main})}"
>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/common/list.css" />
    <title>학생 리스트 페이지</title>
  </head>
  <body>
    <main>
      <form th:action="@{/student/att/on}" method="post">
        <table>
          <tr>
            <th>학생번호</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>주소</th>
          </tr>
          <tr th:each="s : ${stList}">
            <td th:text="${s.no}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.phone}"></td>
            <td th:text="${s.addr}"></td>
          </tr>
          <!--학생출석기능-->
          <!-- <tr>
          <td>
            <input type="checkbox" name="sNo" th:value="${s.no}" />학생no 넘겨줌
            <input type="hidden" name="cNo" th:value="${course}" />학생no 넘겨줌 
          </td>
        </tr> -->
        </table>
        <button type="submit">출석하기</button>
      </form>
    </main>
  </body>
</html>
